.container {
    background: url("./static/logo.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 60% auto;
}

.aboutText > h3  {
    text-align: center;
}